.details{
    width: 50%;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.prod_img{
    height: 100px;
    width: 100px;
}

.input_container{
    margin-top: 30px;
}

.input{
    width: 450px;
    height: 25px;
    border-radius: 5px;
}
