.nav_bar{
    width: 80%;
    margin: 5px auto 5px auto;
}

.add_btn{
    font-family: cursive;   
}

.search_input, .sort_select{
    margin-left: 10px;
}

.select_input{
    font-family: cursive;   
}
