body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app_container {
  display: flex;
  height: 350px;
}

.main {
  width: 70%;
  padding: 20px;
}

.side_bar {
  width: 30%;
  overflow-y: scroll;
}

.title {
  text-align: center;
  background-color: #6699cc;
  height: 70px;
  padding: 0;
  margin: 0;
  line-height: 4rem;
  border: 3px solid black;
}
